/* Reset */
*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
}

/* Common */
body{
    background-color: #141922;
    color: honeydew;
}

/* Header */

.logo-box{
    background-color: black;
}
/* Main */
main{
    height: calc(100vh - 90px);
    display: flex;
}
.navbar-fixed{
    height: 90px;
    background-color: blue;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.sidebar-fixed{
    width: 230px;
    height: calc(100vh - 90px);
    background-color: darkblue;
    overflow: hidden;
    position: fixed;
    top: 0;
}

.main-content{
    width: calc(100% - 230px);
}
/* Footer */
footer{
    height: 90px;
    background-color:gray;
}
