/* Reset */
*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
}

/* Common */
body{
    background-color: #141922;
    color: honeydew;
}

a{
    text-decoration: none;
    color:yellow;
}
ul{
    list-style: none;
}

/* Main */
.logo-box{
    height: 90px;
    background-color: black;
    
}
.logo-box img{
    width: 60%;
    margin-top: 20px;
    margin-left: 20px;
}

main{
    height: calc(100vh - 90px);
    display: flex;
}
.navbar-top-fixed{
    height: 90px;
    background-color: blue;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 230px);
    text-align: right;
    line-height: 90px;
}

.navbar-top-fixed button{
    margin-right: 20px;
}

.main-content{
    margin-left: 230px;
    width: calc(100% - 230px);
    overflow-y: auto;
    margin-top: 100px;
}
.nav-main-center{
    text-align: center;
    text-transform: uppercase;
}
.nav-main-center>ul li{
    display: inline-block;
    padding: 5px;
}

/* Sidebar */
.sidebar-fixed{
    width: 230px;
    background-color: darkblue;
    overflow: hidden;
    position: fixed;
    top: 0;
    bottom:90px;
    
}
.sidebar-column{
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;

    
}
.nav-sidebar-top,.nav-sidebar-bottom,.nav-sidebar-middle{
border: 1px solid white;
padding: 20px;
}

.nav-sidebar-bottom, .nav-sidebar-top{
    height: 20%;
}
.nav-sidebar-middle{
    height: 80%;
    overflow-y: auto;
    background-color: chartreuse;
}
.nav-sidebar-top li{
    margin: 10px 0;
}

/* Playlist */

.row{
    display: flex;
    padding: 10px;
}
.album{
    width:calc(20% - 20px);
    height: 200px;
    background-color:teal;
    margin: 10px;
}

section h2, section p{
    margin-left: 20px;
}

.album.radius{
    border-radius: 50%;
}

/* Footer */
footer{
    display: flex;
    justify-content: space-between;
    height: 90px;
    background-color:gray;
    align-items: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;
}


